<!-- HTML5 view of the Relatioship Groups component. -->
<div ng-show="$ctrl.registrationGroups.length > 0">
  You have access to contacts in these groups:
  <ol>
    <li
      ng-repeat="registrationGroup in $ctrl.registrationGroups track by registrationGroup.id"
    >
      <details
        id="{{registrationGroup.id}}"
        ng-click="$ctrl.registrationGroupClicked(registrationGroup.id)"
      >
        <summary>{{registrationGroup.group_name}}}</summary>
      </details>
      <trn-registrationGroup
        id="{{registrationGroup.id}}"
        ng-if="$ctrl.showRegistrationGroup(registrationGroup.id)"
        id="{{registrationGroup.id}}"
      ></trn-registrationGroup>
    </li>
  </ol>
</div>
