<span id="registrationGroupsIntro"
  >You have access to contacts in these groups:</span
>
<ol id="registrationGroupsList">
  <li
    id="registrationGroupListItem-{{group.groupId}}"
    ng-repeat="group in $ctrl.groups track by group.groupId"
  >
    <details
      id="registrationGroupDetails-{{group.groupId}}"
      ng-click="$ctrl.groupClicked(group.groupId)"
    >
      <summary id="registrationGroupSummary-{{group.groupId}}">
        {{group.groupName}}
      </summary>
    </details>
  </li>
</ol>
