<div class="crm-container">
  <div crm-ui-debug="myContact"></div>

  <h1 crm-page-title>{{ts('Tournament Dashboard')}}</h1>

  <form name="myForm" crm-ui-id-scope>

    <p ng-show="myContact.display_name">{{ ts('Welcome, %1. This page will guide you through the steps of tournament registration.', {1: myContact.display_name}) }}</p>

    <p ng-show="!myContact.display_name"><a href="~/login">{{ ts('Log in first.') }}</a></p>

    <div crm-ui-accordion="{title: ts('Your Contact Data (If you are new to this system, the first step is to double-check your contact information. You probably only need to do this once, ever.)')}">              
      <div class="crm-block">
        <div class="crm-group">
          <div crm-ui-field="{name: 'myForm.first_name', title: ts('Name'), help: hs('full_name')}">
            <input
              crm-ui-id="myForm.first_name"
              name="first_name"
              ng-model="myContact.first_name"
              class="crm-form-text"
              placeholder="{{ts('First')}}"
              />
            <input
              crm-ui-id="myForm.last_name"
              name="last_name"
              ng-model="myContact.last_name"
              class="crm-form-text"
              placeholder="{{ts('Last')}}"
              />
          </div>
        </div>
      </div>

      <div>
        <button ng-click="save()">{{ts('Save')}}</button>
      </div>
    </div>

  </form>

</div>
