<!-- HTML5 view of the Dashboard module. -->

<h2>Dashboard</h2>
<p id="welcome">Welcome, {{$ctrl.display_name}}. This app will guide you through the steps of tournament registration.</p>

<h3>Tasks</h3>

<ol>
  <li>
    <details id="personDetails" ng-click="$ctrl.personClicked()">
      <summary id="personSummary"
        title="If you are new to this system, the first step is to double-check your contact information. You probably only need to do this once, ever.">
        Update your contact information, last updated on {{$ctrl.modified_date}}.</summary>
    </details>
    <trn-person ng-if="$ctrl.displayPerson" contact-id="{{$ctrl.contactId}}"></trn-person>
  </li>
  <li>
    <details id="organizationsDetails" ng-click="$ctrl.organizationsClicked()">
      <summary id="organizationsSummary"
        title="The next step is to double-check your organization's (e.g., school/district) contact information. You probably only need to do this once, ever.">
        Update your organization's information.
    </details>
    <trn-billingRelationships ng-if="$ctrl.displayOrganizations" contact-id="{{$ctrl.contactId}}"></trn-billingRelationships>
  </li>
  <li>
    <details id="registrationGroupsDetails" ng-click="$ctrl.registrationGroupsClicked()">
      <summary id="registartionsGroupsSummary"
      title="The next step is to enter contacts for your group(s). You probably only need to do this once per contact, ever. This only enters them into the database. it doesn't mean they are committed to attending a tournament.">
      Contacts (Players, coaches, etc.)
    </details>
    <trn-registrationGroups ng-if="$ctrl.displayRegistrationGroups" contact-id="{{$ctrl.contactId}}"></trn-registrationGroups>
  </li>
</ol>

4. Register Contacts for Tournament
Once you have entered all the contacts for your group(s), you can register them to attend the tournament. Be sure to
indicate which competitions they will enter. That's important for the team registration step.

5. Combine Registered Players into Teams
Once you have registered all the players for your district/league, you can combine them into teams.