<!-- HTML5 view of the Relatioships component. -->
<div ng-show="$ctrl.relationships.length > 0">
    You are a contact for these organizations:
    <ol>
        <li ng-repeat="relationship in $ctrl.relationships track by relationship.id">
            <details ng-click="$ctrl.organizationClicked()">
                <summary>{{relationship.organization_name}}, last updated on {{relationship.modified_date}}.</summary>
            </details>
            <trn-organization ng-if="$ctrl.showOrganization" id="{{relationship.id}}"></trn-organization>
        </li>
    </ol>
</div>
<trn-access-request></trn-access-request>