<!-- HTML5 view of the Relatioships component. -->
<div ng-show="$ctrl.relationships.length > 0">
    You are a contact for these organizations:
    <ol>
        <li ng-repeat="relationship in $ctrl.relationships track by relationship.id">
            <details id="{{relationship.id}}" ng-click="$ctrl.organizationClicked(relationship.id)">
                <summary>{{relationship.organization_name}}, last updated on {{relationship.modified_date}}.</summary>
            </details>
            <trn-organization id="{{relationship.id}}" ng-if="$ctrl.showOrganization(relationship.id)" id="{{relationship.id}}"></trn-organization>
        </li>
    </ol>
</div>
<trn-access-request requestor-id="{{$ctrl.contactId}}"></trn-access-request>