<form name="personForm">
    <label for="prefix_id" class="sr-only">Prefix</label>
    <select id="prefix_id" name="prefix_id" class="crm-form-select"
        select="{placeholder: '', allowClear:true}"
        ng-options="option.value as option.label for option in $ctrl.prefixes"
        ng-model="$ctrl.selectedPerson.prefix">
    </select>
    <label for="first_name" class="sr-only">First</label>
    <input id="first_name" name="first_name" type="text"
        ng-model="$ctrl.selectedPerson.first_name" class="crm-form-text"
        placeholder="First" required>
    </input>
    <label for="middle_name" class="sr-only">Middle</label>
    <input type="text"
        id="middle_name" name="middle_name"
        ng-model="$ctrl.selectedPerson.middle_name" class="crm-form-text"
        placeholder="Middle">
    </input>
    <label for="last_name" class="sr-only">Last</label>
    <input type="text"
        id="last_name" name="last_name"
        ng-model="$ctrl.selectedPerson.last_name" class="crm-form-text"
        placeholder="Last" required>
    </input>
    <label for="suffix_id" class="sr-only">Suffix</label>
    <select
        id="suffix_id" name="suffix_id" class="crm-form-select"
        select="{placeholder: '', allowClear:true}"
        ng-options="option.value as option.label for option in $ctrl.suffixes"
        ng-model="$ctrl.selectedPerson.suffix">
    </select>
    <label for="personForm.birth_date" class="sr-only">Birth Date</label>
    <input type="date" id="personForm.birth_date" class="crm-form-text crm-form-date"
        name="birth_date" ng-model="$ctrl.selectedPerson.birth_date">
    </input>
    <label for="gender_id" class="sr-only">Gender</label>
    <select 
        id="gender_id" name="gender_id" class="crm-form-select"
        ng-options="option.value as option.label for option in $ctrl.genders"
        ng-model="$ctrl.selectedPerson.gender">
    </select>
    <button ng-click="$ctrl.save()">Save</button>
</form>

<details ng-click="$ctrl.addressClicked()"><summary>Update address info</summary></details>
<trn-address ng-if="$ctrl.includeAddress" contact-id="{{$ctrl.selectedPerson.id}}"></trn-address>

<details ng-click="$ctrl.phoneClicked()"><summary>Update phone info</summary></details>
<trn-phone ng-if="$ctrl.includePhone" contact-id="{{$ctrl.selectedPerson.id}}"></trn-phone>

<details ng-click="$ctrl.emailClicked()"><summary>Update email info</summary></details>
<trn-email ng-if="$ctrl.includeEmail" contact-id="{{$ctrl.selectedPerson.id}}"></trn-email>