<label for="organizationsSelect" class="sr-only">Request access to organization:</label>
<select name="organizationsSelect" id="organizationsSelect" class="crm-form-select" ng-model="$ctrl.selectedOrganization">
    <option value="">- Request Access to a Different Organization -</option>
    <option value="{{newOrganizationValue}}">Request a new Organization ...</option>
    <option ng-repeat="organization in $ctrl.organizations" value="{{organization.contact_id}}">{{organization.organization_name}}</option>
</select> 
<button ng-show="$ctrl.selectedOrganization.length > 0" ng-click="$ctrl.requestAccess($ctrl.selectedOrganization)">Request</button>
<trn-organization-request ng-if="$ctrl.showOrganizationRequest" requestor-id="{{$ctrl.requestorId}}"></trn-organization>