<form name="organizationForm-{{$ctrl.id}}">
    <label for="organization_nameInput-{{$ctrl.id}}" class="sr-only">Organization Name</label>
    <input type="text" id="organization_nameInput-{{$ctrl.id}}" name="organization_nameInput-{{$ctrl.id}}" ng-model="$ctrl.organization_name"
        class="crm-form-text" size="50" placeholder="Organization Name" required>
    </input>
    
    <div>
        <label for="street_addressInpu-{{$ctrl.id}}t">Address</label>
        <input id="street_addressInput-{{$ctrl.id}}" name="street_addressInput-{{$ctrl.id}}" ng-model="$ctrl.street_address" class="crm-form-text"
            placeholder="Address" required>
        </input>
        <label for="supplemental_address_1Input-{{$ctrl.id}}" class="sr-only">Address 1</label>
        <input id="supplemental_address_1Input-{{$ctrl.id}}" name="supplemental_address_1Input-{{$ctrl.id}}"
            ng-model="$ctrl.supplemental_address_1" class="crm-form-text" placeholder="cont.">
        </input>
        <label for="supplemental_address_2Input-{{$ctrl.id}}" class="sr-only">Address 2</label>
        <input id="supplemental_address_2Input-{{$ctrl.id}}" name="supplemental_address_2Input-{{$ctrl.id}}"
            ng-model="$ctrl.supplemental_address_2" class="crm-form-text" placeholder="cont.">
        </input>
        <label for="supplemental_address_3Input-{{$ctrl.id}}" class="sr-only">Address 3</label>
        <input id="supplemental_address_3Input-{{$ctrl.id}}" name="supplemental_address_3Input-{{$ctrl.id}}"
            ng-model="$ctrl.supplemental_address_3" class="crm-form-text" placeholder="cont.">
        </input>
    </div>

    <div>
        <label for="cityInput-{{$ctrl.id}}">City</label>
        <input id="cityInput-{{$ctrl.id}}" name="cityInput-{{$ctrl.id}}" ng-model="$ctrl.city" class="crm-form-text" placeholder="City" required>
        </input>
        <label for="countrySelect-{{$ctrl.id}}">Country</label>
        <select required id="countrySelect-{{$ctrl.id}}" name="countrySelect-{{$ctrl.id}}" class="big crm-form-select"
            select="{placeholder: '', allowClear:true}"
            ng-options="option.id as option.name for option in $ctrl.countries" ng-model="$ctrl.country_id">
        </select>
        <div ng-show="$ctrl.country_id" class="inline">
            <label for="state_provinceSelect-{{$ctrl.id}}">State/Province</label>
            <select required id="state_provinceSelect-{{$ctrl.id}}" name="state_provinceSelect-{{$ctrl.id}}" class="big crm-form-select"
                select="{placeholder: '', allowClear:true}"
                ng-options="option.id as option.name for option in $ctrl.regions | filter:{country_id:$ctrl.country_id}"
                ng-model="$ctrl.state_province_id">
            </select>
        </div>
    </div>

    <div>
        <label for="postal_codeInput-{{$ctrl.id}}">Postal Code</label>
        <input id="postal_codeInput-{{$ctrl.id}}" name="postal_codeInput-{{$ctrl.id}}" ng-model="$ctrl.postal_code" class="crm-form-text"
            placeholder="Postal Code" required>
        </input>
        <label for="postal_code_suffix-{{$ctrl.id}}">Postal Code Suffix</label>
        <input id="postal_code_suffixInput-{{$ctrl.id}}" name="postal_code_suffixInput-{{$ctrl.id}}" ng-model="$ctrl.postal_code_suffix"
            class="crm-form-text" placeholder="Postal Code Suffix">
        </input>
    </div>
    <button id="saveOrganizationButton-{{$ctrl.id}}"ng-click="$ctrl.save()">Save</button>
</form>