<form name="organizationForm">
    <label for="organization_name" class="sr-only">Organization Name</label>
    <input type="text" id="organization_nameInput" name="organization_nameInput" ng-model="$ctrl.organization_name"
        class="crm-form-text" placeholder="Organization Name" required>
    </input>
    <button ng-click="$ctrl.save()">Save</button>
    
    <div ng-if="$ctrl.id">
        <details ng-click="$ctrl.addressClicked()">
            <summary>Update address info</summary>
        </details>
        <trn-address ng-if="$ctrl.displayAddress" contact-id="{{$ctrl.id}}"></trn-address>

        <details ng-click="$ctrl.phoneClicked()">
            <summary>Update phone info</summary>
        </details>
        <trn-phone ng-if="$ctrl.displayPhone" contact-id="{{$ctrl.id}}"></trn-phone>

        <details ng-click="$ctrl.emailClicked()">
            <summary>Update email info</summary>
        </details>
        <trn-email ng-if="$ctrl.displayEmail" contact-id="{{$ctrl.id}}"></trn-email>
    </div>
</form>